.favorites-page-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20%;
    margin-top: 5%;
  }
  
  .favorites-page-container h2 {
    font-size: 28px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .favorites-page-container p {
    font-size: 16px;
    color: rgba(5, 16, 54, 0.6);
  }

  .favorite-page-minor-heading{
    text-align: center;
  }





