.tour-slider-container {
    width: 100%;
  }
  

  .tour-slider-content {
    display: flex;  
    justify-content: center;
    gap: 2%;
    transition: transform 0.4s ease;
    flex-wrap: nowrap;
  }



  .slider-btn{
    border: none;

  }


  