.react-datepicker-wrapper {
    width: 91.5%;
  }
  
  .book-now-date-time {
    width: 95%;
    height:2.7 rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    color: #808080;
  }
  
  .ticket-label {
    color: rgba(5, 16, 54, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
  }
  
  .available-time-loading {
    font-size: 14px;
    color: #051036;
  }
  
  .no-time-available {
    color: red;
  }
  
  
  .react-select-container {
    width: 95%;
  }
  
  .react-select__control {
    border-radius: 8px;
    border: none;
    padding: 2px 4px;
    box-shadow: none;
    background-color: white;
    color: #05103699;
  }
  
  .react-select__placeholder {
    color: #05103699;
    font-size: 1rem;
  }
  
  .react-select__menu {
    z-index: 9999;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .react-select__option {
    font-size: 1rem;
    color: #051036;
  }
  